.circle {
  aspect-ratio: 1;
  border-radius: 100%;
}

.stars {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  user-select: none;
}

.point {
 position: fixed;
 width: 2px;
 background-color: var(--color1);
}

.display,
.headline {
  position: fixed;
}

.display {
  top: 4vh;
  width: 40svw;
  max-width: 400px;
  justify-content: space-between;
}

.headline {
  top: 2vh;
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 1vh;
  left: 1vh;
  font-size: 14px;
}

#csvFile {
  position: fixed;
  bottom: 1vh;
  left: 1vh;
}

.nav * {
  cursor: pointer;
  margin-bottom: 0.5vh;
}

.radialContainer {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .nav {
    left: 0;
    bottom: 1vh;
    top: unset;
    width: 100%;
    flex-direction: row;
    font-size: 2.4vh;
    justify-content: space-around;
    padding: 0 1vh;
    box-sizing: border-box;
  }

  .headline {
    font-size: 2.2vh;
  }

  .display {
    font-size: 3vh;
  }

  .headline,
  .display {
    border: none;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .nav {
    left: 2vh;
    bottom: unset;
    flex-direction: column;
    height: 100%;
    font-size: 1.6em;
  }

  .display,
  .headline {
    flex-direction: column;
    left: unset;
    right: 2vh;
    align-items: end;
  }

  .display {
    top: 4vh;
  }

  .headline {
    font-size: 2.2em;
  }

  .display {
    font-size: 3em;
  }
}